@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&family=Roboto:wght@100;400;700&display=swap');

body {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  font-size: 16px;
  color: rgb(34, 34, 34);
  background: #EEEEEE;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: all .5s;
  transition: all .5s;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  max-width: 100%;
  height: 80px;
  padding: 5px;
  background: #981A2F;
}

.logo {
  float: left;
  font-family: 'Qwitcher Grypen', cursive;
  color: #000;
  font-size: 6.0rem;
  padding-top: .5rem;
  margin-left: 4%;
  font-weight: 400;
}

nav {
  margin-right: 2%;
}

ul {
  padding: 0;
  margin: 0;
  float: right;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;

}
li {
  display: inline-block;
  padding: 30px 10px;
}
a {
  padding: 5px;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 1px;
}
h1 {
  text-transform: uppercase;
  position: relative;
  padding-left: 20rem;
  padding-top: 2rem;
}
h2 {
  color: #fff;
  background-color: #981A2F;
  text-transform: uppercase;
  padding: 1rem;
  font-size: 1.5rem;
}
.slideshow{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Author_Page/images/book.png");
  background-position: center;
  background-size: 100rem;
  height: 30rem;
}
.imgone {
  background-image: url("/Author_Page/images/chelsea&melissa.jpg");
  background-size: 20rem;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding-left: 50rem;
  height: 14rem;
  width: 15rem;
}

.introduction{
  padding: 2rem;
  position: relative;
  width: 20rem;
  margin-left: 17rem;
  overflow: auto;
  
}

footer{
  background-image: url("/Author_Page/images/footer.png");
  position: relative;
  height: 7rem;
}



